<div ng-include="'partials/navbar'"></div>
<div class="calculator">
  <div class="display row">
    <div class="result col-md-8 well">
      <span>{{model.leftOperand}}</span>
    </div>
  </div>
  <div class="buttons row">
    <div class="digits col-md-8">
      <div class="buttonWrapper col-md-4">
        <button class="clearButton col-md-12" ng-click="model.clearAll()">
          <span>C</span>
        </button>
      </div>
      <div ng-repeat="digit in model.digits" class="buttonWrapper col-md-4">
        <button  class="digit col-md-12" ng-click="model.inputDigit(digit)">
          <span>{{digit}}</span>
        </button>
      </div>
      <div class="buttonWrapper col-md-4">
        <button class="decimalButton col-md-12" ng-click="model.toggleDecimal()">
          <span>.</span>
        </button>
      </div>
    </div>
    <div class="operators col-md-4">
      <div ng-repeat="operator in model.operators" class="buttonWrapper col-md-6">
        <button class="operator col-md-12" ng-click="model.inputOperator(operator)">
          <span>{{operator}}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
