<div class="container-fluid">
  <div class="row-fluid">
  <div class="span2 offset4">
  <p>
    <button class="btn btn-large btn-primary" type="button" ng-click="createGame()">New Game</button>
  </p>
  </div>
  <div class="span2 offset1">
    <p>
      <button class="btn btn-large btn-primary" type="button">Join Game</button>
    </p>
    <form>
      <fieldset>
      <select ng-model="exisgames" ng-options="game._id as game._id for game in exisgames">
      </select>
      </fieldset>
    </form>
  </div>
  </div>
</div>
