<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="row-fluid" ng-repeat="player in players">
          <p>{{player.sessionID}}</p>
      </div>
    </div>
    <div class="span10">
      <div class="row-fluid">
        <div class="cell span3 offset1" ng-click="clicktile(0,0)">
          <p>
            {{board[0][0]}}
          </p>
        </div>
        <div class="cell span3" ng-click="clicktile(0,1)">
          <p>
            {{board[0][1]}}
          </p>
        </div>
        <div class="cell span3" ng-click="clicktile(0,2)">
          <p>
            {{board[0][2]}}
          </p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span10">
        </div>
      </div>
      <div class="row-fluid">
        <div class="cell span3 offset1" ng-click="clicktile(1,0)">
          <p>
            {{board[1][0]}}
          </p>
        </div>
        <div class="cell span3" ng-click="clicktile(1,1)">
          <p>
            {{board[1][1]}}
          </p>
        </div>
        <div class="cell span3" ng-click="clicktile(1,2)">
          <p>
            {{board[1][2]}}
          </p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span10">
        </div>
      </div>
      <div class="row-fluid">
        <div class="cell span3 offset1" ng-click="clicktile(2,0)">
          <p>
            {{board[2][0]}}
          </p>
        </div>
        <div class="cell span3" ng-click="clicktile(2,1)">
          <p>
            {{board[2][1]}}
          </p>
        </div>
        <div class="cell span3" ng-click="clicktile(2,2)">
          <p>
            {{board[2][2]}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
